{% extends 'books/search.html' %}
{% load post_extras %}



{% block active %}
<li><a class="anav" href="{% url 'books:index' %}">الرئيسية</a></li>
<li><a class="anav" href="{% url 'books:search' %}">البحث</a></li>
<li><a class="active anav" href="{% url 'posts:posts' %}">المشاركات</a></li>
{% if user.is_staff %}
<li><a class="anav" href="{% url 'books:create-borrowing' %}">الاستعارة</a></li>
<li><a class="anav" href="{% url 'books:create-book' %}">الكتب</a></li>
{% endif %}
{% endblock %}


{% block search %}
<div class="container">
    <div class="row gtr-150">
        <div class="col-6 col-12-medium" style="display: flex; justify-content: center;">
            <a class="button active" href="{% url 'posts:posts' %}">آخر المشاركات</a>
        </div>
        <div class="col-6 col-12-medium" style="display: flex; justify-content: center; padding-top: 5px;">
            <a class="button" href="{% url 'posts:create-post' %}">إضافة مشاركة</a>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="row" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <form method="POST" action="{% url 'posts:search' %}">
            {% csrf_token %}
            <div
                style="display: flex; flex-direction: row; align-items: stretch;">
                {% block search_input %}
                <input type="text" placeholder="بحث.." name="search" value="{{ keyword }}"
                    style="margin-left: 5px;">
                {% endblock %}
                <button type="submit" style="display: inline; align-self: stretch; border-radius: 4px;"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
</div>
{% block content %}
<div class="container py-3">
    <div class="row" style="align-items: center; justify-content: center;">
        {% for post in posts %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-2" style="display: flex; justify-content: center;">
            <div class="card" style="width: 18rem; height: max-content; margin-top: 10px;">
                {% if post.image %}
                <a class="link" href="{% url 'posts:details' post.id %}"><img class="card-img-top" height=" 150px;" src="{{ post.image }}" alt="Card image cap"></a>
                {% else %}
                {% endif %}
                <div class="card-body">
                    <a class="link" href="{% url 'posts:details' post.id %}"><h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text" style="color: black;">{{ post.text | index }}...</p></a>
                    <a class="link" href="{% url 'posts:details' post.id %}" class="card-link">متابعة القراءة</a>
                    <hr />
                    <div class="text" styke="display:inline;">
                        <a class="link" href="{% url 'posts:profile-posts' post.profile.id %}"><h5 class="card-title" style="display: inline;">بقلم: {{ post.profile }}</h5> <i class="bi bi-patch-check-fill"></i></a>
                        <br>
                        <p style="display: inline; text-align: center;">بتاريخ: {{ post.timestamp | date:"d-m-Y" }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% endblock %}